<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="#"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqb-nqAA079-Chb489akEpEmGg8LTaYME&signed_in=true&libraries=places&callback=initMap" async defer></script>
  <script src='/javascripts/elizabot.js'></script>
  <script src='/javascripts/elizadata.js'></script>
</head>


<body>

  <%= yield %>

</body>
